// TODO: tidy the imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import "variables";
@import "normalize";
@import "grid";
@import "animations";

// Layout
@import "topbar";
@import "sidebar";
@import "player";
@import "queue";
@import "popups";

// Components
@import "route";
@import "section";
@import "search";
@import "timeline";
@import "volume";
@import "track";
@import "queueTrack";
@import "user";
@import "baner";
@import "profile";
@import "stat";


body {
  font-family: 'Roboto', sans-serif;
}

.app {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100vh;

  padding-top: $navH;
  padding-bottom: $playerH;

  overflow: hidden;
}

.app__row {
  @extend .row;
  flex: 1;
  max-height: calc(100vh - (#{$navH} + #{$playerH}));
}

.app__main {
  @extend .col__9;
  max-height: 100%;
  overflow: auto;

}



.color--primary {
  color: $primaryColor;
  font-size: inherit;
}

.loader {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}