@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import "variables";
@import "normalize";
@import "grid";
@import "route";
@import "section";
@import "topbar";
@import "sidebar";
@import "player";
@import "search";
@import "timeline";
@import "volume";

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: $navH;
  padding-bottom: $playerH;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__row {
  @extend .row;
  flex: 1;
  max-height: calc(100vh - (#{$navH} + #{$playerH}));
}

.app__main {
  @extend .col__9;
  max-height: 100%;
  overflow: auto;

}