* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
label,
input,
textarea {
    font-size: 16px;
    font-weight: 400;
}