.player {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $navH;

    background: $lightGray;
    border-top: 1px solid $gray;
}