.popups {
    position: fixed;
    top: 0;
    right: 0;

    max-width: 40%;
    padding: 1% 2%;
}

.popup {
    background: white;
    box-shadow: 0 0 4px rgba($darkGray, 0.3);
    color: $darkGray;

    width: 300px;

    margin-bottom: 14px;
    padding: 12px 16px;
}

.popup__message {
    color: inherit;
    font-size: 14px;
    word-wrap: normal;
    text-overflow: ellipsis;

}