.queueTrack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 8px 6px;

    border: {
        bottom: 1px solid $lightGray;
    }

    background-color: white;

    //transition: 200ms ease;

    &.active,
    &:hover {
        background-color: $lightGray;

        .queueTrack__duration {
            display: none;
        }

        .queueTrack__more {
            display: flex;
        }

        .queueTrack__hover {
            opacity: 1;
        }
    }


    &.drag {
        border: 1px solid $lightGray;
        background-color: $lightGray;
    }
}

.queueTrack__drag {
    margin-right: 6px;
    background: none;
    border: none;

    width: 24px;
    height: 24px;

    cursor: move;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.queueTrack__image {
    position: relative;
    width: 35px;
    height: 35px;
    background: $gray;
    cursor: pointer;

    margin-right: 12px;

    background-image: url('../assets/default_avatar.png');
    background-position: center;
    background-size: cover;

    .queueTrack__thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.queueTrack__hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    box-shadow: inset 0 -30px 15px -10px rgba($darkGray, 0.25);

    opacity: 0;
}

.queueTrack__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $primaryColor;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    transition: 150ms;

    &:hover {
        background: darken($primaryColor, 7%);
    }
}

.queueTrack__icon {
    width: 50%;
    height: 50%;

    * {
        fill: #fff !important;
    }
}

.queueTrack__more {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;

    .queueTrack__dots {
        padding: 3px;
        width: 30px;
        background: none;
        border: none;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


// TODO: fix overflow
.queueTrack__options {
    position: absolute;
    top: 100%;
    right: 105%;
    z-index: 4;

    width: 130px;
    overflow: hidden;

    background: #fff;

    list-style-type: none;

    border: $gray 1px solid;
    border-radius: 3px;

    animation: expand 500ms forwards ease-in-out;

    li:not(:last-child)>.queueTrack__option {
        border-bottom: 1px solid $gray;
    }
}

.queueTrack__option {
    border: 0;
    background: 0;

    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    padding: 3px 4px;

    font-size: 13px;

    cursor: pointer;



    &:focus,
    &:hover {
        background: $lightGray;
    }
}

.queueTrack__icon--option {
    display: block;
    width: 16px;
    height: 16px;

    margin-right: 6px;

    background: red;

    object-fit: contain;
}

.queueTrack__duration {
    display: flex;
    padding: 2px 5px;
    color: $darkGray;
    font-size: 12px;
}

.queueTrack__data {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.queueTrack__title {
    font-size: 14px;
    color: $darkGray;
    word-break: break-all;
    cursor: pointer;
}

.queueTrack__author {
    font-size: 11px;
    color: lighten($darkGray, 20%);
    cursor: pointer;
    text-decoration: none;
}