.searchInput {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput__input {
    display: block;
    min-width: 180px;
    flex: 1;
    height: 100%;
    max-height: 100%;
    border: none;
    border-radius: 4px 0 0 4px;
    background: $lightGray;
    padding: 5px;
    font-size: 14px;
    text-indent: 6px;
    color: $darkGray;
}

.searchInput__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
    width: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
    background: transparent linear-gradient(180deg, $primaryColor 0%, $secondaryColor 100%);

    cursor: pointer;
}

.search__notfound {
    font-size: 13px;
    color: $darkGray;
    padding: 0 4px 8px 4px;
    margin-top: -8px;
}

.search__result {
    font-size: 24px;
    margin: 10px 0;

    span {
        font-size: inherit;
    }
}