.topbar {
    @extend .row--middle;

    position: fixed;
    top: 0;

    width: 100%;
    height: $navH;

    background: $darkGray;
}

.topbar__logo {
    @extend .col__2;

    height: 100%;

    background: transparent linear-gradient(180deg, $primaryColor 0%, $secondaryColor 100%);
    color: #fff;

    font-size: 12px;

    a {
        display: block;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 70%;
            width: 80%;
            object-fit: contain;
        }
    }


}

.topbar__search {
    @extend .offset__1;
    @extend .col__3;

    height: 25px;
}

.topbar__account {
    @extend .offset__5;
    @extend .col__1;
}