.topbar {
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: $navH;

    background: $darkGray;
}

.topbar__left {
    display: flex;
    align-items: center;

    height: 100%;
}

.topbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    max-width: 300px;
    min-width: 100px;
    height: 100%;

    background: transparent linear-gradient(180deg, $primaryColor 0%, $secondaryColor 100%);
    color: #fff;

    font-size: 12px;

}