.track {
    @extend .col__3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
}

.track__image {
    width: 130px;
    height: 130px;
    background: $gray;
    margin-bottom: 4px;
}

.track__title {
    width: 130px;
    font-size: 14px;
    color: $darkGray;
    margin-bottom: 3px;
}

.track__author {
    width: 130px;
    font-size: 11px;
    color: lighten($darkGray, 20%);
}