.track {
    @extend .col__3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6px;
    margin-bottom: 12px;

    cursor: pointer;
}

.track__image {
    width: 130px;
    height: 130px;
    background: $gray;
    margin-bottom: 4px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.track__title {
    width: 130px;
    font-size: 14px;
    color: $darkGray;
    margin-bottom: 3px;
}

.track__author {
    width: 130px;
    font-size: 11px;
    color: lighten($darkGray, 20%);
}